{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}
{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block title %}{{ 'sylius.menu.admin.main.configuration.mail_tester'|trans }} {{ parent() }}{% endblock %}

{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

{% block content %}
    {{ headers.default('sylius.menu.admin.main.configuration.mail_tester'|trans, 'mail') }}

    {{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        <div class="ui segment">
            <input type="hidden" name="_method" value="POST" />
            {{ form_row(form.recipient) }}
            {{ form_row(form.subjects) }}
            {{ form_row(form.change_form_subject, {'attr': {'style': 'margin-bottom: 20px'}}) }}

            {{ form_widget(form) }}
            {{ form_row(form._token) }}
        </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
